*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top, rgb(154, 174, 241), rgb(66, 129, 247));
}

/*---------------------ABOUT------------------------*/

.header{
    height: 90%;
    width: 99.4%;
    overflow-x: hidden;
    display: inline;
    padding: 18px ;
}
.nav{
    float: left;
    padding: 10px 16px;
}

.nav h1{
    font-family: 'Syncopate', sans-serif;
    font-size: 54px;
    letter-spacing: 0px;
    color: rgb(6, 6, 126);
}

.opt {
    margin: auto;
    padding: 20px 0;
    float: right;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
}
.opt a{
    text-decoration: none;
    font-size: 22px;
    cursor: pointer; 
    color: rgb(255, 251, 251); 
    text-align: center;
    padding: 15px 5px;
}

.opt a:hover{
    background-color: rgb(220, 219, 233);
    color: rgb(11, 11, 189);
}

.page1{
    width: 100%;
    height: 90%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.img1{
    height: 88%;
    width: 33%;
    margin-left: 2%;
    margin-top: 3%;
    background-image: url("img-1.gif");
    background-size: cover;

}

.txt1{
    height: 85%;
    width: 56%;
    float: right;
    margin-left: 10%;
    margin-right: 2%;
    margin-top: 4%;
    
}

.txt1 p{
    text-align:center;
    align-items: center;
    padding-top: 5%;
    color: white;
    font-family: 'Belgrano', serif;
    font-size: 24px;
    letter-spacing: 2px;
    white-space: 4px;
    font-weight: bold;
}

.txt1 h1{
    font-family: 'Dela Gothic One', cursive;
    color: rgb(30, 6, 97);
    font-weight: lighter;
    font-size: 44px;
    overflow: hidden;
    text-align: center;
}

/*---------------------Features------------------------*/

.page2{
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(to right, rgba(219, 208, 231, 0), rgb(182, 181, 241));*/
}

.page2 h1{
    text-align: center;
    padding-top: 70px;
    margin-bottom: 5%;
    font-weight: bold;
    color: rgb(30, 6, 97);
    font-size: 53px;
}

.page2 h1::after{
    align-items: center;
     content: " ";
     background: rgb(9, 9, 87);
     display: block;
     height: 3px;
     width: 200px;
     margin: 5px aut0;
     margin-left: 43%;
 }

 .feature .icon{
    overflow-y: hidden;
    font-size: 36px;
    margin: 20px auto;
    padding: 18px;
    height: 69px;
    width: 70px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 50%;
    color: rgb(0, 0, 0);
 }


 .feature p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(242, 242, 247);
    padding: 20px; 
 }


.feature h3{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(24, 5, 110);
}

 .features span{
     color: rgb(0, 0, 0);
 }

 .feature .col-md-3:hover{
     background: rgb(239, 239, 243);
     cursor: pointer;
     color: rgb(35, 46, 211);
     box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.4);
     transition: .5s;
 }

 .feature .col-md-3:hover .icon{
     border: 1px solid rgb(48, 9, 219);
     color: rgb(16, 16, 207);
 }

 .feature .col-md-3:hover p{
    color: rgb(16, 16, 207);
}

.feature .col-md-3:hover span{
    color: rgb(1, 2, 44);
}

.feature .col-md-3:hover h3{
    color: rgb(13, 2, 63);
}

/*------------------------------architecture------------------------*/

.page3{
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(to right, rgba(11, 10, 78, 0), rgb(8, 6, 122));/*/
}

.architecture .h1{
    height: 34%;
    width: 90%;
    margin: auto;
}

.architecture .h1 h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 3%;
    font-weight: bold;
    color: rgb(30, 6, 97);
    font-size: 53px;
}

.page3 h1::after{
    align-items: center;
     content: " ";
     background: rgb(9, 9, 87);
     display: block;
     height: 5px;
     width: 240px;
     margin-left: 40%;
 }

.architecture .h1 p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.architecture .image{
    height: 64%;
    width: 80%;
    margin: 0 auto;
    overflow-y: hidden;
    background-image: url(img-2.svg);
    background-size: cover;   
}

/*--------------------------COMMANDS------------------------*/

.page4{
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(to right, rgba(219, 208, 231, 0), rgb(182, 181, 241));/*/
    overflow-y: hidden;
}

.page4 .commands{
    width: 90%;
    height: 50%;
}

.page4 .commands h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 3%;
    font-weight: bold;
    color: rgb(30, 6, 97);
    font-size: 53px;
    margin-left: 13%;
}

.page4 .commands h1::after{
    align-items: center;
    content: " ";
    background: rgb(9, 9, 87);
    display: block;
    height: 5px;
    width: 200px;
    margin-left: 42%;
}

.page4 .commands p{
    text-align: center;
    font-size: 23px;
    color: rgb(219, 219, 243);
    font-weight: bold;
    margin-left: 15%;
}


.page4 .commands .input{
    text-align: center;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.page4 .commands .input #inp{
    width: 100%;
    height: 45px;
    padding: 1px 2px;
    margin: 8px 16%;
    border: none !important;
    background-color: rgb(30, 6, 97);
    color: white;
    font-size: 32px;
    font-weight: bold;
}


.page4 .commands .input #btn {
    margin-bottom: 0;
    margin-left: 16%;
    height: 100%;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2d2f8f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.page4 .commands .input #btn:hover {
      background-color: #3e8e41
    }
  
.page4 .commands .input #btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.page4 .out{
    overflow-y: hidden;
    width: 70%;
    height: 50%;
    margin-top: 5px;
    margin-bottom: 25%;
    margin-left: 15%;
    text-align: center;
    font-size: 24px;
    background-color: rgb(30, 6, 97);
    color: white;
}

/*------------------------FOOTER------------------------*/

.footer{
    height: 70%;
    width: 100%;
    /*background-image: linear-gradient(to right, rgba(188, 140, 243, 0), rgb(11, 8, 133));/*/
    overflow-y: hidden;
    
}

.footer h1{
    padding-top: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    font-weight: bold;
    color: rgb(30, 6, 97);
    font-size: 53px;
}

.footer h1::after{
    align-items: center;
    content: " ";
    background: rgb(9, 9, 87);
    display: block;
    height: 5px;
    width: 200px;
    margin-left: 42%;
}



.contact-form{
    padding: 15px;
}

.form-group{
    color: rgb(3, 3, 124);
    font-weight: bolder;
    font-size: large;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 11px;
    width: 28px;
    height: 48px;
    color: rgb(3, 3, 124);
    font-weight: bolder;
    font-size: large;
}

::placeholder{
    font-size: 14px;
}

.contact-form button{
    border: none;
    background: #07075e !important;
    box-shadow: none !important;
    border-radius: 0;
    color: rgb(240, 240, 240);
    height: 54px;
    border-radius: 20%;
}

.contact-info .follow{
    background-color: #f4f4f5;
    pad: 8px;
    margin: 15px;
}

.contact-info .fa{
    margin: 10px;
    font-size: 23px !important;
    color: rgb(22, 3, 94) !important;
    font-weight: bold;
    padding-right: 20px;
}

.contact-info span{
    font-size: 16px;
}

.copyright{
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.fa-heart-o{
    color: rgb(25, 6, 94);
    font-size: 17px;
}

.footer p{
    color: rgb(17, 3, 54);;
}
.footer hr{
    margin-top: 0px;
    background: rgb(7, 9, 133);
}